.canvas-container {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 5em auto;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}
.output {
  border: 1px solid rgb(221, 56, 56);
  width: 384px;
  height: 288px;
}
.input-container {
  position: relative;
  border: 1px solid rgb(41, 60, 233);
  width: 420px;
  height: 420px;
  cursor: pointer;
}
.input-container .help-text {
  display: none;
}
.input-container:hover .uploaded {
  opacity: 0.5;
}
.input-container:hover .help-text {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}
.output-container {
  display: grid;
  grid-template-columns: repeat(2, 384px);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
#faceContainer .uploaded {
  position: absolute;
  width: 100%;
  height: 100%;
}
#upload_file {
  display: none;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #3f3f3f;
}
@media screen and (max-width: 768px) {
  .canvas-container {
    flex-direction: column;
    row-gap: 1em;
  }
  .output-container {
    grid-template-columns: repeat(2, 192px);
  }
}
