* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #212121;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #212121;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  filter: blur(5px);
}
.canvas-container {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}
.output {
  border: none;
  outline: none;
  width: 384px;
  height: 288px;
}
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  margin: 0;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #ffffff;
}
.btn-icon:not([data-loading]) .spinner,
.btn-icon[data-loading] .icon {
  display: none;
}
.btn-icon:hover {
  color: #dfdfdf;
  border: 1px solid #dfdfdf;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-icon .icon {
  font-size: 4em;
  user-select: none;
}
.btn-container {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin: 2em auto;
  width: 100%;
  max-width: 512px;
  justify-content: center;
  align-items: center;
}
body[data-hide] .icon-view-off {
  display: none;
}
body:not([data-hide]) .icon-view-on {
  display: none;
}
.input-container {
  position: relative;
  border: 1px solid rgb(41, 60, 233);
  width: 420px;
  height: 420px;
  cursor: pointer;
  display: none;
}
.output-container {
  display: grid;
  grid-template-columns: repeat(2, 384px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.output-container[faces="1"] {
  grid-template-columns: 1fr;
}
body[data-hide] .output-container {
  display: none !important;
}
body[data-hide] .background {
  filter: none;
}
#upload_file {
  display: none;
}
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .canvas-container {
    flex-direction: column;
    row-gap: 1em;
  }
  .output-container {
    grid-template-columns: repeat(2, 192px);
  }
}
